{% extends 'base.html' %}

{% block body %}

{% if blog %}
<p>
    {{moment(blog.create_date).calendar()}} by {{blog.author.fname}} {{blog.author.lname}} 
    {% if blog.modifydate %}
        modified {{moment(blog.modifydate).calendar()}}
    {% endif %}
</p>
    <br>
    {% if blog.author == current_user %}
        <a data-toggle="tooltip" data-placement="top" title="Delete Blog" href="/blog/delete/{{blog.id}}">
            <img width="40" class="bottom-image" src="/static/delete.png">
        </a>
        <a data-toggle="tooltip" data-placement="top" title="Edit Blog" href="/blog/edit/{{blog.id}}">
            <img width="40" class="bottom-image" src="/static/edit.png">
        </a>
    {% endif %}

    <p class="fs-3 text-break">
        
            {{blog.content}}

    </p>
    
{% else %}
    <h1 class="display-5">No Blog</h1>
{% endif %}

{% endblock %}