<!-- This is a blank template.  You can copy this to make a new template page. -->

{% extends 'base.html' %}

{% block body %}
<h1>Financail Literacy</h1>
<p>powered by<p>
<img src="/static/StockClub.png" alt="Stock Club Logo" height="350">
<h6>Here matteo should put a description of our work and what we aim to achieve. After that he should write a little background related to stockclub. bs bs sb sb sb sbs bs bs sb sbb wofapnwqjpvnp ijwqbngi jqvni3 qhlifiuoq bnagiphnij afpkbPJ Kbqp kwb vabp kjanvpbap jbvhpq jaboibv aphsbapihb asobasdajbbobvsao</h6>
<style>
    .block {
      display: block;
      width: 25%;
      border: none;
      background-color: #7EDA55;
      color: #EFFAEA;
      padding: 10px 20px;
      font-size: 24px;
      cursor: pointer;
      text-align: center;
      margin-left: auto;
      margin-right: auto;  
    }
  </style>
  <a href="lessons">
    <button class="block"><b>Lessons</b></button>
  </a>
  <br>
  <a href="/lesson/new">
    <button class="block"><b>Create Lessons</b></button>
  </a>
  <br>
{% endblock %}