{% extends 'base.html' %}


{% block body %}
   <style>
      h1 {
          color: #EFFAEA;
          border: solid;
          border-color: #7eda55;;
          border-radius: 20px;
      }

      </style> 
    <h1>All Lessons</h1>
<div class="row">
    <div class="col-4">
        <!--<h1>All Lessons</h1>-->
    </div>
    <div class="col">
        <!--<a href="/lesson/new" class="btn btn-primary btn-sm mt-5" role="button">New Lesson</a>-->
    </div>
</div>

{% if lessons %}
    {% for lesson in lessons %}
            
            <div class="recipe-card">
                <figure><img width="1000" src="/static/download.jpg"></figure>
                    <div class="card-meta">
                    
                    <p>
                        <a href="/lesson/{{lesson.id}}">
                    {{lesson.lessonname}}
                        </a>
                    </p>
                    {% if loop.index == 1 %}
                        <a href="/quiz/quiz1">Lesson 1 Quiz</a>
                    {% endif %}
                    {% if loop.index == 3 %}
                        <a href="/blogs2">Lesson 3 Quiz</a>
                    {% endif %}
                    {% if loop.index == 4 %}
                        <a href="/quiz2/quiz2">Lesson 4 Quiz</a>
                    {% endif %}
                    {% if loop.index == 5 %}
                        <a href="/quiz3/quiz3">Lesson 5 Quiz</a>
                    {% endif %}
                    {% if loop.index == 6 %}
                        <a href="/quiz4/quiz4">Lesson 6 Quiz</a>
                    {% endif %}
                    {% if loop.index == 8 %}
                        <a href="/blogs">Lesson 8 Quiz</a>
                    {% endif %}
                    <p>{{lesson.author.fname}} {{lesson.author.lname}}</p>
                    
                    
                </div>
            </div>
            {% endfor %}

    
{% else %}
    <h1>No Lessons</h1>
{% endif %}

{% endblock %}
