<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Form Page Title</h1>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
        <p>    
            {{ form.lessonname.label }} <br>
            {{ form.lessonname(size=64) }}
            <!--List the errors for this field-->

        </p>
        <p>
            {{ form.lessondescription.label }} <br>
            {{ form.lessondescription(size=64) }}
            <!--List the errors for this field-->

        </p>
        <p>
            {{ form.lessonurl.label }} <br>
            {{ form.lessonurl(size=64) }}
            <!--List the errors for this field-->

        </p>
            {{form.submit()}}
        </form>
        
{% endblock %}
