{% extends 'base.html' %}

{% block body %}

<div class="row">
    <div class="col-4">
        <h1 class="display-1">All Lessons</h1>
    </div>
    <div class="col">
        <a href="/lesson/new" class="btn btn-primary btn-sm mt-5" role="button">New Lesson</a>
    </div>
</div>

{% if lessons %}
    {% for lesson in lessons %}
        <div class="row border-bottom">
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">Date</h3>
                {% endif %}

                <a href="/lesson/{{lesson.id}}">
                    {{moment(lesson.create_date).calendar()}}
                </a>
            </div>
            <div class="col-2">
                {% if loop.index == 1 %}
                <h3 class="display-5">User</h3>
                {% endif %}
                {{lesson.author.fname}} {{lesson.author.lname}}
            </div>
            <div class="col">
                {% if loop.index == 1 %}
                    <h3 class="display-5">Subject</h3>
                {% endif %}
                <a href="/quiz/quiz1">Quiz 1</a>
            </div>
        </div>
    {% endfor %}
{% else %}
    <h1>No Lessons</h1>
{% endif %}

{% endblock %}