<!-- this is a generic form page.  Best way to make a new form page is to 
copy this one and then edit it. -->

{% extends "base.html" %}

{% block body %}
        <h1>Quiz 1</h1>

        <!--List all errors in a group at the top-->
        {% for field in form.errors %}
            {% for error in form.errors[field] %}
                <div class="alert alert-error">
                    <strong>Error!</strong>{{field}}: {{error}}
                </div>
            {% endfor %}
        {% endfor %}

        <form method=post>
            {{ form.hidden_tag() }}
        <p>    
            <img src="/static/1.png">
            {{ form.quiz1.label }} <br>
            {{ form.quiz1(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/2.png">
            {{ form.quiz2.label }} <br>
            {{ form.quiz2(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/3.png">
            {{ form.quiz3.label }} <br>
            {{ form.quiz3(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/4.png">
            {{ form.quiz4.label }} <br>
            {{ form.quiz4(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/5.png">
            {{ form.quiz5.label }} <br>
            {{ form.quiz5(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/6.png">
            {{ form.quiz6.label }} <br>
            {{ form.quiz6(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/7.png">
            {{ form.quiz7.label }} <br>
            {{ form.quiz7(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/8.png">
            {{ form.quiz8.label }} <br>
            {{ form.quiz8(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/9.png">
            {{ form.quiz9.label }} <br>
            {{ form.quiz9(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/10.png">
            {{ form.quiz10.label }} <br>
            {{ form.quiz10(size=64) }}
                <!--List the errors for this field-->
    
        </p>
        <p>    
            <img src="/static/11.png">
            {{ form.quiz11.label }} <br>
            {{ form.quiz11(size=64) }}
                <!--List the errors for this field-->
    
        </p>

            <!--List the errors for this field-->

            {{form.submit()}}
        </form>
        
{% endblock %}
